/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
.phpunit.result.cache
.php-cs-fixer.cache
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.DS_Store
